<div class="forgot-container">
  <ng-container *ngIf="showEmailsection">
    <ws-mobile-profile-nav [showbackButton]="true" [showLogOutIcon]="false"
      [navigateToEkshmataHome]="navigateToEkshmataHome" [emitNavigateBack]="emitNavigateBack"
      (navigateBack)="gotoHome()">
    </ws-mobile-profile-nav>
    <div class="fp-detail-container">
      <span class="fp-title">
        {{'FORGOT_PASSWORD' | translate}}
      </span>
      <span class="fp-sub-title">
        {{'PLEASE_ENTER_YOUR_ID_TO_CONTINUE' | translate}}
      </span>
      <div class="fp-bg-image-container">
        <img class="fp-bg-image" src="./assets/imgs/forgot-password.svg" />
      </div>
    </div>
    <form [formGroup]="emailForm" class="fp-email-form">
      <mat-form-field appearance="fill" class="fp-input-id" color="#ccc">
        <mat-label i18n>{{'PHONE_NUMBER_EMAIL_ID' | translate}}</mat-label>
        <input name="userInput" matInput formControlName="userInput" i18n-placeholder
          placeholder="{{'PHONE_NUMBER_EMAIL_ID' | translate}}" id="userid-field" type="text" required>
      </mat-form-field>
      <mat-error i18n class="text-danger" *ngIf="emailForm.controls['userInput'].hasError('required') &&
            (emailForm.controls['userInput'].dirty || emailForm.controls['userInput'].touched)">
        {{'FIELD_REQUIRED' | translate}}</mat-error>
      <mat-error i18n class="text-danger" *ngIf="emailForm.controls['userInput'].hasError('pattern')">
        {{'INVALID_PHONE_OR_MAIL' | translate}}</mat-error>

      <div class="mt-3 mb-8 text-left" *ngIf="!showOtpPwd">
        <button [ngClass]="['btn', 'fp-submit-btn',(!emailForm.valid || sendOtpLoader)?'button-disable':'']"
          [disabled]="!emailForm.valid" i18n (click)="forgotPassword()">
          <ng-container *ngIf="!sendOtpLoader">{{'BTN_SUBMIT' | translate}}</ng-container>
          <ion-spinner name="bubbles" *ngIf="sendOtpLoader"></ion-spinner>
        </button>
      </div>

    </form>
    <p class="fp-bottom-text">{{'FOR_ANY_QUERY_MAIL_US' | translate}} <span
        class="fp-active-text">support@aastrika.org</span></p>
  </ng-container>

  <ng-container *ngIf="showOtpPwd && !showSetPassword">
    <ws-mobile-profile-nav [showbackButton]="true" [showLogOutIcon]="false" [emitNavigateBack]="true"
      (navigateBack)="gotoToSendOTPScreen()">
    </ws-mobile-profile-nav>
    <div class="fp-detail-container">
      <span class="fp-title-2" i18n="Forgot Password">
        {{'CHECK_YOUR' | translate}} {{(key == 'phone')?'SMS':('EMAIL' | translate)}}!
      </span>
      <span class="fp-sub-title color-gray">
        {{'WE_HAVE_SENT_AN_OTP_TO' | translate}} <span class="color-black">{{emailOrMobile}}</span>
      </span>
      <div class="fp-bg-image-container">
        <img class="fp-bg-image" src="./assets/imgs/forgot-password-otp.svg" />
      </div>
    </div>

    <div class="fp-otp-container">
      <form [formGroup]="otpForm" class="fp-otp-form" (keydown.enter)="handleEnterKey()">
        <input name="OTPCHRone" [ngClass]="['fp-input-otp', (key == 'email')?'fp-input-otp-email':'']"
          formControlName="OTPCHRone" i18n-placeholder [attr.maxlength]="key == 'email' ? 6 : 1" type="number"
          inputmode="numeric" pattern="[0-9]*"  required #OTPCHRone (keyup)="onKeyUp($event, OTPCHRtwo)">

        <input name="OTPCHRtwo" [ngClass]="['fp-input-otp', (key == 'email')?'d-none':'']" formControlName="OTPCHRtwo"
          i18n-placeholder maxlength="1" type="number" inputmode="numeric" pattern="[0-9]*"  required #OTPCHRtwo
          (keyup)="onKeyUp($event, OTPCHRthree)">

        <input name="OTPCHRthree" [ngClass]="['fp-input-otp', (key == 'email')?'d-none':'']"
          formControlName="OTPCHRthree" i18n-placeholder maxlength="1" type="number" inputmode="numeric" pattern="[0-9]*"
           required #OTPCHRthree (keyup)="onKeyUp($event, OTPCHRfour)">

        <input name="OTPCHRfour" [ngClass]="['fp-input-otp', (key == 'email')?'d-none':'']" formControlName="OTPCHRfour"
          i18n-placeholder maxlength="1" type="number" inputmode="numeric" pattern="[0-9]*"  required
          #OTPCHRfour (keyup)="(key == 'email')?onKeyUp($event, OTPCHRfive):''">

        <!-- <input name="OTPCHRfive" [ngClass]="['fp-input-otp',(key !== 'email')?'d-none':'']" formControlName="OTPCHRfive" i18n-placeholder
          maxlength="1" type="text" required #OTPCHRfive (keyup)="(key == 'email')?onKeyUp($event, OTPCHRsix):''"> -->
        <!-- 
        <input name="OTPCHRsix" [ngClass]="['fp-input-otp', 'fp-input-otp-email', (key !== 'email')?'d-none':'']" formControlName="OTPCHRsix" i18n-placeholder
          maxlength="1" type="text"  #OTPCHRsix> -->
      </form>
    </div>
    <div class="fp-otp-timer" *ngIf="resendOTPbtn">
      <span class="color-gray">{{'OTP_EXPIRES_IN' | translate}} <span
          class="color-danger">{{resendOTPbtn}}</span></span>
    </div>
    <div class="fp-opt-button-container">
      <button [ngClass]="['btn', 'fp-submit-btn',(!otpForm.valid || verifyOtpLoader)?'button-disable':'']"
        (click)="onSubmitOtp()">
        <ng-container *ngIf="!verifyOtpLoader">{{'BTN_SUBMIT' | translate}}</ng-container>
        <ion-spinner name="bubbles" *ngIf="verifyOtpLoader"></ion-spinner>
      </button>
      <button [ngClass]="['btn', 'fp-resnd-btn',(resendOtpLoader)?'button-disable':'']" i18n
        (click)="forgotPassword('resendOTP')">
        <ng-container *ngIf="!resendOtpLoader">{{'RESEND_OTP' | translate}}</ng-container>
        <ion-spinner name="bubbles" *ngIf="resendOtpLoader"></ion-spinner>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="showSetPassword">
    <ws-mobile-profile-nav [showbackButton]="true" [showLogOutIcon]="false" [emitNavigateBack]="true"
      (navigateBack)="gotoToSendOTPScreen()">
    </ws-mobile-profile-nav>
    <div class="fp-detail-container">
      <span class="fp-title-2" i18n="Forgot Password">
        {{'ENTER_YOUR_NEW_PASSWORD' | translate}}
      </span>
    </div>
    <form [formGroup]="passwordForm" class="fp-email-form">
      <div class="fp-input-container">
        <mat-form-field appearance="fill" class="fp-input-pass" color="#ccc">
          <mat-label i18n>{{'PASSWORD' | translate}}</mat-label>
          <input name="password" matInput formControlName="password" i18n-placeholder
            placeholder="{{'PASSWORD' | translate}}" id="userid-field" type="password" required>
        </mat-form-field>
        <mat-error i18n class="text-danger" *ngIf="passwordForm.controls['password'].hasError('required') &&
              (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)">
          {{'FIELD_REQUIRED' | translate}}</mat-error>
        <mat-error i18n class="text-danger" *ngIf="passwordForm.controls['password'].hasError('pattern')">
          {{'INVALID_PASSWORD' | translate}}</mat-error>
      </div>
      <div class="fp-input-container">
        <mat-form-field appearance="fill" class="fp-input-pass" color="#ccc">
          <mat-label i18n>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
          <input name="confirmPassword" matInput formControlName="confirmPassword" i18n-placeholder
            placeholder="{{'CONFIRM_PASSWORD' | translate}}" id="userid-field" type="password" required>
        </mat-form-field>
        <ng-container
          *ngIf="passwordForm.controls['confirmPassword'].invalid && (passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched)">
          <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors.passwordMismatch">{{'PASSWORDS_DO_NOT_MATCH'
            | translate}}.</mat-error>
        </ng-container>
        <mat-error i18n class="text-danger"
          *ngIf="passwordForm.controls['confirmPassword'].hasError('required') &&
              (passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched)">{{'FIELD_REQUIRED' |
          translate}}</mat-error>
      </div>
      <div class="fp-password-instruction-container">
        <span class="fp-password-instruction">{{'PASSWORD_REQUIREMENTS' | translate}}:</span>
        <span class="fp-password-sub-instruction">
          <span>{{'MINIMUM_EIGHT_CHARACTERS' | translate}}</span>
          <span>{{'ONE_CAPITAL_LATTER' | translate}}</span>
          <span>{{'ON_NUMBER' | translate}}</span>
          <span>{{'ONE_SPECIAL_CHAR' | translate}}</span>
        </span>
      </div>

      <div class="mt-3 mb-8 text-right">
        <button [ngClass]="['btn', 'fp-set-pass-btn',(!passwordForm.valid || setPasswordLoader)?'button-disable':'']"
          [disabled]="!passwordForm.valid" i18n (click)="updatePassword()">
          <ng-container *ngIf="!setPasswordLoader">{{'BTN_SUBMIT' | translate}}</ng-container>
          <ion-spinner name="bubbles" *ngIf="setPasswordLoader"></ion-spinner>
        </button>
      </div>
    </form>

  </ng-container>


</div>