.refrence-video{
    height: calc(100% - 60px) !important;
    width: 100%;
    margin: 7px auto;
}

.button-border {
    border: 1px solid #1c5d95;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }