.btn-download{
    width: 205px;
    height: 35px;
    background-color: #1C5D95;
    color: #ffffff;
    
}

.dialog-vertical-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.refresh-area{
    display: flex;
    grid-gap: 7px;
    margin-top: 7px;
}