<!-- <mat-toolbar> -->
  <section class="footer-container">
    <div class="flex justify-center items-center flex-col logos">
      <a class="padding-remove-small uptsu">
        <img src="./assets/imgs/UPTSU.png" class="uptsu-logo" />
        <span>UP-TSU</span>
      </a>
    </div>
    <!-- <div class="logo-container flex items-center up-gov vertical-line">
    </div> -->
    <!-- <div class="flex justify-center flex-col logos">
      <a>
        <img src="./assets/imgs/bill-melinda-gates.png">
      </a>
    </div> -->
  </section>
<!-- </mat-toolbar> -->