.dialog-content {
  padding: 20px; /* Adjust the padding value as needed */
}


::ng-deep.youtube-modal .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10% !important;
  padding: 0px !important;
}
.youtubeLink-iframe{
  width: 250px !important;
  height: 230px !important;
}

mat-dialog-content {
  padding: 0px !important;
}

.closeBtn {
  display: block;
  color: #000000;
  cursor: pointer;
  justify-content: end;
}

.close-btn{
  color: #000000;
}

::ng-deep.youtube-modal .mat-mdc-dialog-content {
  overflow: hidden !important;
  max-height: none !important;
  text-align: center !important;
}