
.no-content{
    margin: auto;
    padding: 50px 0px 0px;


    .outline-btn{
        border-radius: 50px;
        color: #2E6491;
        border: 1px solid #2E6491;
        font-Weight: 400;
        font-size: 16px;
        font-family: 'Roboto';
        height: 35px;
        }
        
    
}

.start-container{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablet-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    margin-left: 8px;
  }
  
  .tab-card-width {
    width: 48%
  }