.name {
  width: 163px;
  height: 30px;
  margin-bottom: 8px;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 14px;
  color: #1C5D95;
}
.certficate-container {
  position: relative;
  padding: 20px;
}
.flex {
  display: flex;
}
.info {
  display: flex;
}

.certificate-img-box {
  cursor: pointer;
  margin-right: 40px;
}


.certi-content{
  padding: 0 20px;

}

