.sub-title {
    font-family: 'roboto';
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    padding-left: 24px;
}

.tablet-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    margin-left: 8px;
  }
  
  .tab-card-width {
    width: 48%
  }