<ion-content (ionScroll)="onScroll($event)" >
<div class="mt-3 pb-10">


  <div class="sub-title">{{'RECOMMENDED_BASED_ON_PROFILE' | translate}}</div>
  <section class="pb-1 px-4" *ngIf="forYouCourse && forYouCourse.length>0">
    <ng-container *ngIf="isLoading">
      <app-skeleton-card></app-skeleton-card>
      <app-skeleton-card></app-skeleton-card>
      <app-skeleton-card></app-skeleton-card>
    </ng-container>
    <ng-container>
      <div [ngClass]="{ 'tablet-flex' : isTablet}">
        <div [ngClass]="{'tab-card-width' : isTablet}" *ngFor="let course of forYouCourse">
          <ng-container *ngIf="forYouCourse && forYouCourse.length>0">
            <ws-mobile-course-view [displayConfig]="displayConfig" [courseData]="course"></ws-mobile-course-view>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </section>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="1000px" (ionInfinite)="loadMoreCourses($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more courses..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>