.personal-list-content{
    padding: 0 20px;
}


.profile-lable{
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    margin-bottom: 5px;
}

.profile-data{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}

.edit-icon {
    padding: 5px 10px;
  }

.heading {
    align-items: center;
}

.text-2xl {
    margin-top: 1rem !important;
}